<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/custom.js"></script>
</head>
<body>
    <header class="header">
        <div class="container clearfix">
            <h1 id="logo">MG</h1>
            <nav>
                <a href="#">Portfolio</a>
                <a href="#">Blog</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

	<div class="wrapper">
		<nav class="navigation">
			<div class="container">
				<a href="/" class="navigation__title">
					<!-- <img class="title__image" src="/static/images/compose.svg" alt=""> -->
					{% if user %}
						<h1 class="title__text">Welcome, {{user.name}}!</h1>
					{% else %}
						<h1 class="title__text">Javascript blogposts</h1>
					{% endif %}
				</a>
				<ul class="navigation__list">
					{% if user %}
						<li class="list__item">
                            <a href="/blog/userpost" class="list__item__link">My Posts</a>
                        </li>
                        <li class="list__item">
							<a href="/blog/newpost" class="list__item__link">Create a new post</a>
						</li>
                        <li class="list__item">
							<a href="/blog/logout" class="list__item__link">Logout</a>
						</li>
					{% else %}
						<li class="list__item">
							<a href="/blog/signup" class="list__item__link">Signup</a>
						</li>
						<li class="list__item">
							<a href="/blog/login" class="list__item__link">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<section class="content">
			<div class="container">
				{{access_error}}
				{% block content %}
				{% endblock %}
			</div>
		</section>
	</div>
    <footer class="footer">
        <div class="container clearfix footer-contents">
            <h4>Copyright © 2016 Mohnish Gorasia. All rights reserved.</h4>
        </div>
    </footer>
</body>
</html>